body {
  background-color: #fff;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 3rem !important;
  font-weight: 100 !important;
}

p,li {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem !important;
  font-weight: 300 !important;
  color: #212529;
}

li {
    padding-top: 8px;
}

hr {
    background-color: gray;
}

ul {
    padding:0;
}

#contacts {
  background-color: black;
  height: 3rem;
}

#top-menu {
  background-color: white;
}

#carrosel {
  background-color: #efefef !important;
  /* height:30rem; */
}

#categorias {
  background-color: #fff !important;
}

#featured {
  background-color: #efefef !important;
}

#bottom-menu{
    background-color: #212934 !important;
}

#footer{
    background-color: #1d242d !important;
}

.carousel-title {
    font-family: 'Roboto', sans-serif;
    font-size: 30px !important;
    font-weight: 300;
}

.logo {
  color: #59ab6e !important;
  font-family: "Roboto", sans-serif;
  font-size: 48px !important;
  font-weight: 500 !important;
}

.logo-menor {
    color: #59ab6e !important;
    font-family: "Roboto", sans-serif;
    font-weight: 500 !important;
}

.text-green {
    color: #59ab6e !important;
}

.nav-item {
  margin: 1rem 2rem;
  /* font-weight: black; */
}

.nav-icon {
    margin-right: 1rem;
    font-size: 20px;
    position: relative;
}

.nav-icon-number-indicator {
    position: absolute;
    left: 100%;
    top:0;
    /* font-size: 15px; */
    color: #212529!important;
    transform: translate(-50%,-50%)!important;
    background-color: #e9eef5 !important;
    border-radius: 50% !important;
    /* margin:0px; */
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2359ab6e' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2359ab6e' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

#categorias img {
  border-radius: 50%;
}

#categorias h5 {
  margin: 1rem;
}

.review-item{
    color: lightgray;
}

.botao-shop {
  background-color: green;
  color: white;
}

.descricao-produto {
    background-color:white;
    padding: 20px 10px;
}

#bottom-menu h2{
    color: white;
}

.bottom-menu-item{
    /* font: white; */
    color: white;
    /* margin-top: 50px; */
}